md-card{display: inline-block;vertical-align: top;margin-right: 2%;}
.questions
{
	width: 50%;	
}
.time_elapsed
{
	width: 15%;
	text-align: center;
}
.timer
{
	color: #57acec;
	display: inline-block;
    text-align: center; 
}
md-radio-button
{
	padding-top: 20px;
	word-break: break-all;
}
button
{
	margin: 10px;
	margin-top: 30px;
}
.time
{
	display: block;
	margin-top: 10px;
	color: red;
}
md-list
{
	list-style: none;

}
md-list-item
{
	display: list-item;
padding: 30px;
padding-bottom: 15px;
	padding-top: 15px;
}
md-list-item:hover
{
	background-color: lightpink;
}
.tests_list
{
	padding: 0;
}
.active
{
	background-color: #ffe066;
}
/* Popup container */
.popup {
  position: absolute;
  display: block;
}

  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: fixed;
    z-index: 1;
    top: 10%;
    border: 1px solid black;
    max-height: 80%;
    overflow: auto;
  }

  .popup .popuptext .header{
    text-align: center;
  }
    .popup .popuptext .body {
      position: relative;
      overflow: auto;
    }

  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.footer button {
  float: right !important;
}
