<md-card class="tests_list">
<md-list>
 <md-list-item class="active"> Тест 1</md-list-item>
 <md-list-item> Тест 2 </md-list-item>
 <md-list-item> Тест 3 </md-list-item>
  <md-list-item> Тест 4 </md-list-item>
   <md-list-item> More Tests </md-list-item>
</md-list>
</md-card>
<md-card class="questions">
	<span>Корень квадратный из 16?</span><br>
	<md-radio-button>16</md-radio-button><br>
	<md-radio-button>4</md-radio-button><br>
	<md-radio-button>2</md-radio-button><br>
	<md-radio-button>6</md-radio-button><br>
	<md-radio-button>8</md-radio-button><br>
	<button md-button>Previous</button>	
	<button md-button>Next</button>
</md-card>
<md-card class="time_elapsed">Time elapsed:<br><span class="time">2:15:13</span></md-card>

